<section id="add" class="container">
    <div class="form-wrap">

      {{#if destination}}
      <h1>Add a destination</h1>

      {{#each errors}}
        <div class="error">
          <p>
            {{text}}
          </p>
        </div>
      {{/each}}
      <form action="/destinations/add" method="POST">
        <div class="input-group">
          <label for="name">Destination name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder="eg. Best place in the world"
            maxlength="100" required value={{name}}>
        </div>
        <div class="input-group">
          <label for="country">Country of destination</label>
          <input type="text" name="country" id="country" class="input-box" placeholder="Enter a country"
            required value={{country}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the destination"
            rows="10" required value={{description}}></textarea>
        </div> 
        <input type="submit" value="Add destination" class="btn btn-reverse">
      </form>

      {{!-- if entry is an agency --}}
      {{else}}
      <h1>Add an agency</h1>
      {{#each errors}}
        <div class="error">
          <p>
            {{text}}
          </p>
        </div>
      {{/each}}
      <form action="/agencies/add" method="POST">
        <div class="input-group">
          <label for="name">agency name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder="eg. Best place in the world"
            maxlength="100" required value={{name}}>
        </div>
        <div class="input-group">
          <label for="email">email</label>
          <input type="text" name="email" id="email" class="input-box" placeholder="Enter a email"
            required value={{email}}>
        </div>
        <div class="input-group">
          <label for="phone">Country of agency</label>
          <input type="text" name="phone" id="phone" class="input-box" placeholder="Enter a phone"
            required value={{phone}}>
        </div>
        <div class="input-group">
          <label for="localization">localization</label>
          <input name="localization" id="localization" class="input-box" placeholder="localization"
            required value={{localization}}></input>
        </div> 
        <input type="submit" value="Add agency" class="btn btn-reverse">
      </form>

      {{/if}}
    </div>
  </section>