<section id="agencies" class="container">
    <h1>Agencies</h1>
    {{#each agencies}}
    {{!-- <a href="/"> --}}
        <div class="gig">
        <h3>{{name}} - {{localization}}</h3>
        <p>{{phone}}</p>
        <p>{{email}}</p>
        </div>
    {{!-- </a> --}}
    {{else}}
        <p>No agency available</p>
    {{/each}}
    
    


</section>